Proyecto IDOM/Node-Red/flows.json
[
    {
        "id": "4ccffab87c77a982",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8385e96d6b45d35f",
        "type": "mqtt in",
        "z": "4ccffab87c77a982",
        "name": "Temp MQTT",
        "topic": "Global_Tech_Measures/Colombia/Bucaramanga/Invernaderos/sensor/Temperatura",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "00cce14c4b2e3d44",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "fc987663594b2850",
                "e043fe0ceb456757",
                "691ad6ad944a7842",
                "2ede8c34f91fad37"
            ]
        ]
    },
    {
        "id": "966df081acfbf3e4",
        "type": "mqtt in",
        "z": "4ccffab87c77a982",
        "name": "Hum MQTT",
        "topic": "Global_Tech_Measures/Colombia/Bucaramanga/Invernaderos/sensor/Humedad",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "00cce14c4b2e3d44",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "0241ceb048b3ebf0",
                "3f6adf20d9f6e363",
                "e030045ed6831847",
                "0deea4a79f2f4082"
            ]
        ]
    },
    {
        "id": "fc987663594b2850",
        "type": "debug",
        "z": "4ccffab87c77a982",
        "name": "Debug Temp",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "0241ceb048b3ebf0",
        "type": "debug",
        "z": "4ccffab87c77a982",
        "name": "Debug Hum",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "e043fe0ceb456757",
        "type": "ui_gauge",
        "z": "4ccffab87c77a982",
        "name": "Gauge Temp",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f6adf20d9f6e363",
        "type": "ui_gauge",
        "z": "4ccffab87c77a982",
        "name": "Gauge Hum",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b5ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "691ad6ad944a7842",
        "type": "ui_chart",
        "z": "4ccffab87c77a982",
        "name": "Chart Temp",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff00",
            "#0000ff"
        ],
        "outputs": 1,
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e030045ed6831847",
        "type": "ui_chart",
        "z": "4ccffab87c77a982",
        "name": "Chart Hum",
        "group": "dashboard_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humedad Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "outputs": 1,
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2ede8c34f91fad37",
        "type": "json",
        "z": "4ccffab87c77a982",
        "name": "Parse Temp",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 40,
        "wires": [
            [
                "4550ac81b7d197de"
            ]
        ],
        "info": "// Function “InsertaTemp”\r\nmsg.topic = \"INSERT INTO mediciones (temperatura, humedad) VALUES (\" \r\n            + parseFloat(msg.payload) + \", NULL)\";\r\nreturn msg;\r\n"
    },
    {
        "id": "0deea4a79f2f4082",
        "type": "json",
        "z": "4ccffab87c77a982",
        "name": "Parse Hum",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "39059187d082f3d1"
            ]
        ]
    },
    {
        "id": "5ec468dc6ea81ded",
        "type": "function",
        "z": "4ccffab87c77a982",
        "name": "Build INSERT",
        "func": "// msg.payload = { temperatura: 27.6, humedad: 73.0 }\nlet t = parseFloat(msg.payload.temperatura);\nlet h = parseFloat(msg.payload.humedad);\nmsg.topic = \"INSERT INTO mediciones (temperatura, humedad) VALUES (?, ?)\";\nmsg.payload = [t, h];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "f30f1272f2020b7a"
            ]
        ]
    },
    {
        "id": "39059187d082f3d1",
        "type": "change",
        "z": "4ccffab87c77a982",
        "name": "tag=humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humedad",
                "tot": "str"
            }
        ],
        "x": 780,
        "y": 600,
        "wires": [
            [
                "fc9975d3bcf37230"
            ]
        ]
    },
    {
        "id": "4550ac81b7d197de",
        "type": "change",
        "z": "4ccffab87c77a982",
        "name": "tag=temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperatura",
                "tot": "str"
            }
        ],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "fc9975d3bcf37230"
            ]
        ]
    },
    {
        "id": "309d6fa7316c6a15",
        "type": "debug",
        "z": "4ccffab87c77a982",
        "name": "MySql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc9975d3bcf37230",
        "type": "join",
        "z": "4ccffab87c77a982",
        "name": "join temp+hum",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "5",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 360,
        "wires": [
            [
                "5ec468dc6ea81ded"
            ]
        ]
    },
    {
        "id": "f30f1272f2020b7a",
        "type": "mysql",
        "z": "4ccffab87c77a982",
        "mydb": "4f03c98493a03419",
        "name": "SQL",
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "309d6fa7316c6a15"
            ]
        ]
    },
    {
        "id": "00cce14c4b2e3d44",
        "type": "mqtt-broker",
        "name": "",
        "broker": "97e7a492de2b4a02a4c3692b1b640f50.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4f03c98493a03419",
        "type": "MySQLdatabase",
        "name": "Mysql",
        "host": "localhost",
        "port": "3306",
        "db": "invernadero",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "IoT Panel",
        "icon": "dashboard",
        "order": 1
    }
]